/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .single-slider.slider-height {
        min-height: 700px;
    }
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .header-top-area {
        padding: 0 0;
    }
    .header-bottom-area {
        padding-left: 0;
        padding-right: 0;
    }
    .main-menu ul li {
        margin-left: 30px;
    }
    .header-button {
        margin-left:25px;
    }
    .header-button a {
        padding: 14px 16px;
    }
    .wrapper-box {
        padding: 0 15px;
    }
    .slide-img img {
        width: 100%;
    }
    .single-slider.slider-height {
        min-height: 600px;
    }
    .single-features {
        padding: 0 0;
    }
    .promotion-text {
        padding-left: 20px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* Extra small Device. */
@media (max-width: 767px) {

 
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
